body {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--bg-primary);
  color: var(--color-primary);

  a {
    color: var(--color-primary);
  }

  &.no-scroll {
    overflow: hidden;
  }
}

ul.list-no-style,
ol.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
}
