:root {
  --box-shadow-none: 0 0 #0000;
  --box-shadow-1: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --box-shadow-2: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --box-shadow-3: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-4: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --box-shadow-5: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --box-shadow-6: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --box-shadow-7: 0 35px 60px -15px rgb(0 0 0 / 0.3);
  --box-shadow-8: 0 50px 100px -20px rgb(0 0 0 / 0.3);
  --box-shadow-9: 0 50px 100px -20px rgb(0 0 0 / 0.3);
}

/**
    =========================
    * Box Shadow
    * @todo box-shadow
    *=========================
    */

@mixin box-shadow($level) {
  box-shadow: var(--box-shadow-#{$level});
}

.box-shadow-1 {
  box-shadow: var(--box-shadow-1);
}
.box-shadow-2 {
  box-shadow: var(--box-shadow-2);
}
.box-shadow-3 {
  box-shadow: var(--box-shadow-3);
}
.box-shadow-4 {
  box-shadow: var(--box-shadow-4);
}

.item {
  &.hover-scale {
    .top,
    .left,
    .right {
      overflow: hidden;

      a {
        img {
          transition: transform 0.3s;
        }
      }
    }
  }
  &:hover {
    .top,
    .left,
    .right {
      img {
        transform: scale(1.1);
        transition: transform 0.3s;
      }
      a {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

.btn {
  transition: 0.3s linear all;

  &.hover-top {
    transition: 0.3s linear all;

    &:hover {
      transform: translateY(-3px);
      transition: 0.3s linear all;
    }
  }
}
