#footer {
  background-color: var(--color-dark-1);
  color: var(--color-light-4);
  .inner-section {
    .container {
      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .top {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          h2 {
            width: 75%;
            @media (max-width: 1024px) {
              font-size: var(--font-clamp-5);
            }
          }
        }
        .bot {
          .inner {
            display: flex;
            flex-direction: row;
            gap: 10px;
            @media (max-width: 840px) {
              flex-direction: column;
              gap: 40px;
            }
            .left {
              display: flex;
              flex-direction: column;
              width: 500px;
              max-width: 100%;

              @media (max-width: 840px) {
                width: 100%;
              }

              .logo {
                width: 100px;
                height: 100px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              a {
                background-color: var(--color-light-4);
                color: var(--color-dark-1);
                border-radius: 7px;
              }
            }
            .right {
              width: calc(100% - 500px - 10px);
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              align-items: flex-end;
              @media (max-width: 840px) {
                width: 100%;
              }
              @media (max-width: 540px) {
                width: auto;
              }
              .items {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                @media (max-width: 425px) {
                  grid-template-columns: 1fr;
                  gap: 20px;
                }
                .item {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-end;
                  gap: 10px;
                  @media (max-width: 840px) {
                    font-size: 90%;
                  }
                  .top {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    text-align: left;
                    font-weight: 600;
                    font-size: 110%;
                  }
                  ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    li {
                      width: 100%;
                      display: block;
                      a {
                        width: 100%;
                        display: block;
                        color: var(--color-light-4);
                      }
                    }
                    &.icons {
                      li {
                        display: flex;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .copyright {
          display: flex;
          flex-direction: row;
          @media (max-width: 840px) {
            flex-direction: column;
            gap: 20px;
          }
          .left {
            width: 500px;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            @media (max-width: 840px) {
              width: 100%;
              order: 2;
              align-items: center;
            }
          }
          .right {
            width: calc(100% - 500px - 10px);
            display: flex;
            flex-direction: column;
            @media (max-width: 840px) {
              width: 100%;
              order: 1;
            }
            ul {
              display: flex;
              flex-direction: row;
              gap: 10px;
              @media (max-width: 840px) {
                width: 100%;
                justify-content: center;
                gap: 20px;
              }
              @media (max-width: 640px) {
                flex-direction: column;
              }
              li {
                a {
                  color: var(--color-light-4);
                }
              }
            }
          }
        }
      }
    }
  }
}
