body {
  &.talent {
    #header {
      .btn {
        &.light {
          color: var(--color-light-4) !important;
        }
      }
      .bars {
        span {
          background-color: var(--color-light-4) !important;
        }
        &.active {
          span {
            background-color: red !important;
          }
        }
      }
      .inner-section {
        .container {
          background-color: var(--color-dark-3);
          .btn {
            &.light {
              @media (max-width: 840px) {
                color: var(--color-dark-1);
              }
            }
          }
          ul {
            li {
              a {
                color: var(--color-light-4);
                @media (max-width: 840px) {
                  color: var(--color-dark-1);
                }
              }
            }
          }
        }
      }
    }
  }
  #header {
    position: fixed;
    height: 100px;
    z-index: 88;
    top: 50px;
    left: 0;
    .inner-section {
      height: 100%;
      .container {
        height: 100%;
        background-color: white;
        padding: 20px;
        border-radius: 7px;
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
        .wrapper {
          height: 100%;
          overflow: hidden;
          .items {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            .left {
              height: 100%;
              width: 150px;
              flex-shrink: 0;
              flex-grow: 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              .logo {
                width: 100px;
                height: 100px;
                a {
                  img {
                    box-sizing: border-box;
                    width: 75%;
                  }
                }
              }
            }
            .mid {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              transition: 0.3s linear all;

              @media (max-width: 840px) {
                background-color: var(--color-light-1);
                top: 0;
                left: 50%;
                width: calc(100% - 40px);
                height: auto;
                position: fixed;
                border-radius: 7px;
                transform: translate(-50%, -100%);
                opacity: 0;
                transition: 0.3s linear all;
                box-shadow: 0 0 10px 0 var(--transparent-dark-2);

                &.active {
                  opacity: 1;
                  top: 140px;
                  transform: translate(-50%, 0);
                }

                &:after {
                  --ww: 10px;
                  content: "";
                  position: absolute;
                  top: -20px;
                  right: 10px;
                  border-top: var(--ww) solid transparent;
                  border-right: var(--ww) solid transparent;
                  border-bottom: var(--ww) solid var(--color-light-3);
                  border-left: var(--ww) solid transparent;
                }
              }

              nav {
                width: 100%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                @media (max-width: 840px) {
                  padding: 20px;
                  justify-content: flex-start;
                  align-items: flex-start;
                }
                ul {
                  margin: 0;
                  padding: 0;
                  box-sizing: border-box;
                  display: flex;
                  flex-direction: row;
                  gap: 40px;
                  font-weight: 700;
                  @media (max-width: 840px) {
                    flex-direction: column;
                    gap: 20px;
                  }
                }
                .inner {
                  @media (max-width: 640px) {
                    display: none;
                    margin-top: 20px;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    box-sizing: border-box;
                    gap: 20px;
                    &.active {
                      display: flex;
                    }
                    a.btn {
                      box-sizing: border-box;
                      width: 100%;
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      padding: 8px;
                      text-align: center;
                      border-radius: 7px;
                      &.light {
                        border: 1px solid var(--color-dark-1);
                      }
                    }
                  }
                }
              }
            }
            .right {
              height: 100%;
              flex-shrink: 0;
              flex-grow: 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 350px;

              @media (max-width: 840px) {
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                flex-grow: 1;
              }

              @media (max-width: 540px) {
                width: auto;
                flex-grow: 1;
              }

              .bars {
                display: none;
                @media (max-width: 840px) {
                  width: 24px;
                  height: 18px;
                  display: flex;
                  flex-direction: column;
                  position: relative;
                  span {
                    position: absolute;
                    height: 2px;
                    background-color: var(--color-dark-1);
                    transition: 0.3s ease-in-out all;

                    &:nth-child(1) {
                      width: 100%;
                      top: 0;
                    }

                    &:nth-child(2) {
                      width: 75%;
                      top: 50%;
                      right: 0;
                      transform: translateY(-50%);
                      transition: 0.3s linear all;
                    }

                    &:nth-child(3) {
                      width: 100%;
                      bottom: 0;
                    }
                  }
                }
                &.active {
                  span {
                    background-color: red;
                    &:nth-child(1) {
                      top: 50%;
                      transform: rotate(45deg) translateY(-50%);
                      background-color: red;
                    }
                    &:nth-child(2) {
                      transform: translateX(40px);
                      transition: 0.3s linear all;
                      transition-delay: 0.1s;
                    }
                    &:nth-child(3) {
                      transform: rotate(-45deg) translate(5px, -5px);
                    }
                  }
                }
              }
              .inner {
                display: flex;
                flex-direction: row;
                gap: 20px;
                .btn {
                  &.dark {
                    box-shadow: var(--box-shadow-2);
                    border-radius: 7px;
                  }
                  &.light {
                    color: var(--color-dark-3);
                  }
                }
                @media (max-width: 840px) {
                  justify-content: flex-end;
                  padding-right: 20px;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 840px) {
      top: 20px;
    }
  }
}
