:root {
  --bg-primary: #f5f5f5;
  --color-primary: #1a1a1a;
  --cp1-light: #333;
  --cp1-dark: #111;
  --cp2-light: #f8752b;
  --cp2-dark: #752c08;
  --cp3-light: #ff0000;
  --cp3-dark: #800000;
  --cp4-light: #2468ff;
  --cp5-light: #3fe8be;
  --cp6-light: #c6ff00;
  --color-light-1: #eeeeee;
  --color-light-2: #ffffff;
  --color-light-3: #dddddd;
  --color-light-4: #fafafa;
  --color-dark-1: #121212;
  --color-dark-2: #1c2d54;
  --transparent-light-1: rgba(255, 255, 255, 0.1);
  --transparent-light-2: rgba(255, 255, 255, 0.2);
  --transparent-light-3: rgba(255, 255, 255, 0.3);
  --transparent-light-4: rgba(255, 255, 255, 0.4);
  --transparent-light-5: rgba(255, 255, 255, 0.5);
  --transparent-light-6: rgba(255, 255, 255, 0.6);
  --transparent-light-7: rgba(255, 255, 255, 0.7);
  --transparent-light-8: rgba(255, 255, 255, 0.8);
  --transparent-light-9: rgba(255, 255, 255, 0.9);
  --transparent-dark-1: rgba(0, 0, 0, 0.1);
  --transparent-dark-2: rgba(0, 0, 0, 0.2);
  --transparent-dark-3: rgba(0, 0, 0, 0.3);
  --transparent-dark-4: rgba(0, 0, 0, 0.4);
  --transparent-dark-5: rgba(0, 0, 0, 0.5);
  --transparent-dark-6: rgba(0, 0, 0, 0.6);
  --transparent-dark-7: rgba(0, 0, 0, 0.7);
  --transparent-dark-8: rgba(0, 0, 0, 0.8);
  --transparent-dark-9: rgba(0, 0, 0, 0.9);
}
