// Post Tags start below this line.
.post-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3rem;
  .list-no-style {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    li {
      font-size: 80%;
      a {
        color: var(--cp-dark-111111);
        text-decoration: underline;
      }
    }
  }
  // post tag end above this line.
}
