#process {
  background-color: var(--color-light-2);
  color: var(--color-dark-1);
  //   padding-bottom: 15rem;
  //   display: none;
  .inner-section {
    .container {
      .wrapper {
        display: flex;
        align-items: flex-start;
        position: relative;
        .left {
          display: flex;
          flex-direction: column;
          width: calc(100% - 550px);
          padding-top: 15rem;
          .left-content {
            h1 {
              width: 60%;
            }
            a {
              &.btn {
                border: 1px solid var(--color-dark-1);
              }
            }
          }
        }
        .right {
          width: 550px;
          .items {
            display: flex;
            flex-direction: column;
            height: calc(320px * 6);
            position: relative;
            top: 15rem;
            padding-bottom: 10rem;
            .item {
              height: 250px;
              padding: 20px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              z-index: 1;
              background-color: #fff;
              box-shadow: var(--box-shadow-3);
              border: 1px solid var(--transparent-dark-1);
              margin-bottom: 40px;
              h3 {
                font-size: var(--font-clamp-2);
                margin: 4px 0;
              }
              p {
                font-size: 16px;
              }
              &:nth-child(odd) {
                transform: rotate(-1.5deg);
              }
              &:nth-child(even) {
                transform: rotate(1.5deg);
              }
            }
          }
        }
      }
    }
  }
}
