#showcases {
  .inner-section {
    // row-1.
    &.row-1 {
      .container {
        .wrapper {
          .top {
            display: flex;
            flex-direction: column;
            padding-bottom: 3rem;
            h2 {
              width: 50%;
            }
          }
        }
      }
    }

    // row-2.
    &.row-2 {
      height: 557px;
      .items {
        height: 100%;
        display: flex;
        flex-direction: row;
        padding-left: 10rem;
        position: relative;

        .flickity-button {
          position: absolute;
          top: -7rem;
          right: 20rem;
          background: transparent;
          &.flickity-prev-next-button {
            width: 20px;
            height: 20px;
            &.previous {
              left: unset;
              right: 25rem;
            }
          }
        }

        .item {
          width: calc(100% / 2);
          aspect-ratio: 16/9;
          margin: 0 60px;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &:last-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .go {
              width: 200px;
              height: 200px;
              border: 1px solid #000;
              background-color: var(--cp1-dark);
              color: var(--color-light-4);
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              font-size: 150%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
